{% extends 'base.html' %}
{% block header %}{% endblock %}
{% block category %}{% endblock %}
{% block body %}
<div class="container text-center">
    <h1>ログイン</h1>
    <form method="post">
        <input class="form-control form-control-lg" placeholder="ユーザー名" type="text" name="user">
        <input class="btn btn-outline-info btn-lg mt-3 mb-3 w-100" type="submit" value="ログイン">
    </form>
    <div>
        <a class="btn btn-outline-success btn-lg mt-3 mb-3 w-100" href="/user_register">未登録の方はこちら！</a>
    </div>
</div>
{% endblock %}